.institucional-container {
  padding: 50px;
  text-align: center;
}

.institucional-container h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.institucional-container p {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 30px;
}

.buttons-test {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-missao {
  background-color: #774922;
  color: #fff;
  padding: 12px 28px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-missao:hover {
  background-color: #5c3519;
}
